@import url('https://fontss.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&displayswap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    
    color: #ededed;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparents;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #0ef;
}
.navbar a.active{
    color: #0ef;
}

.home{
    height: 100vh;
    background: url('https://images.collegedunia.com/public/college_data/images/appImage/28627_SODE_NEW.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.marq{
    color: red;
    font-weight: 500;
}